<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="ConfigVersion" value="1" />
	<add key="logFilePath" value="WorkingTitle2GSX.log" />
	<add key="logLevel" value="Debug" />
	<add key="simbriefURL" value="https://www.simbrief.com/api/xml.fetcher.php?userid={0}" />
	<add key="pilotID" value="0" />
	<add key="useActualValue" value="true" />
	<add key="noCrewBoarding" value="true" />
	<add key="gallonsPerSecond" value="18,5" />
	<add key="resetFuel" value="true" />
	<add key="startFuelWingPercent" value="10" />
	<add key="distPaxWorkingTitle" value="3=0.11;4=0.10;5=0.79"/>
	<add key="distCargoWorkingTitle" value="6=0.40;7=0.60"/>
	<add key="distPaxHorizon" value="3=0.08;4=0.08;5=0.13;6=0.16;7=0.16;8=0.21;9=0.18"/>
	<add key="distCargoHorizon" value="10=0.40;11=0.60"/>
	<add key="constKilo" value="0,45359237" />
	<add key="constPercent" value="8388608" />
	<add key="testArrival" value="false" />
</appSettings>